.navbar__container {
  height: 5rem;
  position: fixed;
  padding: 1.2rem;
  width: 100%;
  z-index: 9999;
  display: flex;
  background: var(--main);
  align-items: center;
  justify-content: center;
  .navbar__wrapper {
    width: 100%;
    padding-inline: 1.2rem;
    display: flex;
    align-items: center;
    * {
      flex: 1;
    }
    .navbar__left {
    }
    .navbar__center {
      display: flex;
      flex: 1.5;
      ul {
        display: flex;

        li {
        }
      }
    }
  }
}
