.footer__container {
  background-color: rgb(21, 22, 23);
  color: white;
  padding: 50px;
  padding: 7%;
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    .footer__left {
    }
    .footer__center {
    }
    .footer__right {
    }
  }
}
